body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

.hidden {
  display: none;
}

.splash {
  position: fixed;
  inset: 0;
  background: #2aabee;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 64px;
}

.card {
  padding: 15px;
  margin-bottom: 70px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  background: white;
  border-top: 1px solid #ddd;
}

.bottom-nav div {
  flex: 1;
  font-size: 12px;
  padding-top: 5px;
}

canvas {
  background: #222;
  border-radius: 12px;
}
